# Локальные настройки редактора
.godot/

# Логи и временные файлы
*.log

# Экспортированные сборки (если собираете в подпапки)
export/
android/

# Сборки
*.exe
*.pck
*.apk
*.apk.idsig
*.rar
*.zip

# Пользовательские настройки
user://settings.cfg